<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="login-container">

<h2>Add New Book</h2>

<form action="/add_book" method="POST">

<input
type="text"
name="title"
placeholder="Book Title"
required>

<input
type="text"
name="author"
placeholder="Author"
required>

<input
type="text"
name="category"
placeholder="Category"
required>

<input
type="text"
name="available"
placeholder="Available (Yes/No)"
required>

<input
type="date"
name="due_date">

<button type="submit" class="btn">
Add Book
</button>

</form>

</div>

</body>
</html>